.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  border-radius: 5px;
  /* width: 50%; */
  width: 30%;
  animation: fadeIn 0.3s;
}

.modal-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

.modal-body {
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
}

.close-button {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}


.modal-body::-webkit-scrollbar {
  width: 6px !important;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 3px;
}

.modal-body::-webkit-scrollbar-track {
  background-color: #d1d5db;
}

.blur-background {
  filter: blur(5px);
  pointer-events: none; 
  transition: filter 0.3s ease;
}
